.diagonal{
    width:100px;
    height:50px;
    padding:0;
    margin:0;
}

.center-text{
    text-align:center;
}

.classroom-long{
    text-align:center;
    font-size:0.8vw;
    width:250px;
    white-space:pre-wrap;
    word-wrap:break-word;
}

.classroom-short{
    text-align:center;
    font-size:1.1vw;
    widows:250px;
}

.input-text-small{
    text-align:center;
    background-color:#21242a; 
    border:none; 
    width:10%; 
    height:100%;
}

.input-text-big{
    text-align:center;
    background-color:#21242a; 
    border:none; 
    width:30%; 
    height:100%;
}

.input-register-big{
    text-align:center;
    background-color:#21242a; 
    border:none; 
    width:50%; 
    height:100%;
}

.search-box{
    padding-right:1.4%;
    padding-left:1.4%;
    outline:none;
    border:none;
    border-radius:15px;
    color:rgb(50, 48, 85);
    background-color:bisque
}
.option-box{
    padding-right:1.5%;
    padding-left:1.5%;
    outline:none;
    border:none;
    border-radius:5px;
    width:100px;
    color:rgb(50, 48, 85);
    background-color:whitesmoke;
}
.line {
    width: 112px;
    height: 47px;
    border-bottom: 1px solid #FFFFFF;
    transform: translateY(-20px) translateX(5px) rotate(27deg);
    position: absolute;
    z-index: -1;
  }

.background>div {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.bottom {
    position: absolute;
    bottom: 1px;
    left: 1px;
}

.top {
    position: absolute;
    top: 1px;
    right: 1px;
}


