{% extends "main.html" %}
{% block content1 %}

<section class="content">
  <form action="/courses" method="post">
  <h3>Courses</h3>
  <small>Enjoy choosing your course.</small>
  <hr>
  <div class="container-fluid">
    <div style="padding-left:20%">
      <h3>Search</h3>
      <!-- <h3>Search <span><input style="height:5%; width:30%;font-size:14px;"type="text" placeholder="Type Course Name or Course ID" class="search-box"></span></h3> -->
      <div style="flex:1; flex-direction:column;padding-left:3%;padding-top:3%; justify-content: center;">
        <div style="flex:1;">
          <p>Course Name  <span style="margin-left:2%;"><input type="text" name="course_name" class="text-box"></span></p>
        </div>
        <div style="flex:1;">
          <p>Course ID  <span style="margin-left:2%;"><input type="text" name="course_id" class="text-box"></span></p>
        </div>
        <!-- <div style="flex:1;">
            <p>Year  <span style="margin-left:5.5%;"><input type="text" class="option-box"></span></p>
        </div>
        <div style="flex:1;">
          <p>Semester  <span style="margin-left:2%;"><input type="text" class="option-box"></span></p>
        </div>
        <div style="flex:1;">
            <p>Type  <span style="margin-left:5.5%;"><input type="text" placeholder="all" class="option-box"></span></p>
        </div> -->
        <div style="padding-left:10%;flex:1 ">
          <br>
          <button type="submit"> Search </button>
        </div>
      </div>
    </div>
  </div>
  </form>
</section>


{% endblock %}
