{% extends "base.html" %}

{% block content %}
<aside class="navigation">
  <nav>
    <ul class="nav luna-nav">
      <li class="nav-category">Main</li>
      <li class="active"><a href="#">Profile</a></li>
      <li><a href="#">Study Schedule</a></li>
      <li><a href="#">Study Schedule</a></li>
      <li><a href="#">Study Schedule</a></li>
      <li><a href="#">Study Schedule</a></li>
    </ul>
  </nav>
</aside>


<section class="content">
  <h1>lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam saepe quam perferendis rem officia exercitationem sequi. Dolorem porro dicta dolore laudantium, voluptatibus quae dolorum debitis delectus inventore. Nesciunt, adipisci quae.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa veritatis ullam rerum deserunt deleniti modi a autem molestias, unde minima libero aperiam pariatur blanditiis nemo distinctio doloribus quo, consequatur sapiente?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi minima animi recusandae voluptatibus ab neque ullam, autem quibusdam voluptatem provident nostrum odio repudiandae consectetur eveniet earum veritatis sed sapiente molestiae?
  </h1>
</section>
{% endblock %}
