{% extends "main.html" %}
{% block content1 %}

<section class="content">
  <h3>Grade</h3>
  <small>Good luck.</small>
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-filled">
          <div class="panel-body">
            <div class="col-md-3 col-xs-6 text-center"><h2 class="no-margins">4.00</h2>MAX</div>
            <div class="col-md-3 col-xs-6 text-center"><h2 class="no-margins">3.45</h2>GPAX</div>
            <div class="col-md-3 col-xs-6 text-center"><h2 class="no-margins">3.45</h2>GPA</div>
            <div class="col-md-3 col-xs-6 text-center"><h2 class="no-margins">122</h2>Weight</div>
          </div>
        </div>
      </div>
    </div>
  <br>
  <div class="row">
    <div class="panel panel-filled">
      <div class="panel-heading">
        <div class="panel-tools">
          <a class="panel-toggle"><i class="fa fa-chevron-up"></i></a>
        </div>
        <h3>Year 3     Semester 2    Student NO. 580000000</h3>
      </div>

      <div class="panel-body">
        <table class="table table-responsive table-condensed">
          <thead>
            <tr>
              <th class="col-md-1">COURSE NO</th>
              <th colspan="4">COURSE TITLE</th>
              <th class="col-md-1">CREDIT</th>
              <th class="col-md-1">GRADE</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td>2110123</td>
                <td colspan="4">Database</td>
                <td>3</td>
                <td>A</td>
              </tr>
              <tr>
                <td>2110123</td>
                <td colspan="4">Database</td>
                <td>3</td>
                <td>A</td>
              </tr>
              <tr>
                <td>2110123</td>
                <td colspan="4">Database</td>
                <td>3</td>
                <td>A</td>
              </tr>
              <tr>
                <td>2110123</td>
                <td colspan="4">Database</td>
                <td>3</td>
                <td>A</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td class="col-md-1">CA 180</td>
                <td class="col-md-1">CG</td>
                <td class="col-md-1">GPA</td>
                <td class="col-md-1">CAX</td>
                <td class="col-md-1">CGX</td>
                <td class="col-md-1">GPAX</td>
                <td class="col-md-1">GPX</td>
              </tr>
            </tfoot>
        </table>
      </div>
    </div>
  </div>

  <div class="row" style="text-align: end;">
    <a href="/transcript"><button class="btn btn-success btn-xs">Transcript</button></a>
  </div>


  <hr>
  <small>CA   = CREDIT ATTEMPTED <br>

      CG   = CREDIT GRANTED<br>

      GPA = GRADE POINT AVERAGE<br>

      CAX   = CUMULATIVE CA<br>

      CGX   = CUMULATIVE CG<br>

      GPAX = CUMULATIVE GPA<br>

      GPX = CUMULATIVE GP<br>

      </small>
  </div>
</section>


{% endblock %}
