{% extends "main.html" %}
{% block content1 %}

<section class="content">
  <h3>Grade</h3>
  <small>Good luck.</small>
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-filled">
          <div class="panel-body">
            <div class="col-md-2 col-xs-3 text-center"> </div>
            <div class="col-md-3 col-xs-6 text-center"><h2 class="no-margins"id="semester-gpax"></h2>GPAX</div>
            <div class="col-md-3 col-xs-6 text-center"><h2 class="no-margins" id="semester-gpa"></h2>GPA</div>
            <div class="col-md-3 col-xs-6 text-center"><h2 class="no-margins" id="weight">122</h2>Weight</div>
            <div class="col-md-1 col-xs-4 text-center"> </div>
          </div>
        </div>
      </div>
    </div>
  <br>
  <div class="row">
    {% for year_and_semester in year_semester %}
      <div class="panel panel-filled">
        <div class="panel-heading">
          <div class="panel-tools">
            <a class="panel-toggle"><i class="fa fa-chevron-up"></i></a>
          </div>
          <h3>Year <span>{{year_and_semester[0]}}</span> Semester <span>{{year_and_semester[1]}}</span>  </h3>
        </div>

        <div class="panel-body">
          <table class="table table-responsive table-condensed">
            <thead>
              <tr>
                <th class="col-md-1">COURSE NO</th>
                <th colspan="4">COURSE TITLE</th>
                <th class="col-md-1">CREDIT</th>
                <th class="col-md-1">GRADE</th>
              </tr>
              </thead>
              <tbody>
                {% for course in registered_course_dict[(year_and_semester[0],year_and_semester[1])] %}
                  <tr>
                    <td>{{course.course_id}}</td>
                    <td colspan="4">{{registered_course_name_dict[course.course_id][0]}}</td>
                    <td>{{registered_course_name_dict[course.course_id][1]}}</td>
                    <td>{{course.grade}}</td>
                  </tr>
                {% endfor %}
              </tbody>
              {%set grade_ready = True %}

              {# {% for c in registered_course_dict[(year_and_semester[0],year_and_semester[1])] %}
                {%if c.grade is not defined %}
                  {% set grade_ready = False %}
                {% endif %}
              {% endfor %}

              {% set sum_of_grade = 0 %}
              {% set course_count = 0 %}
              {% if grade_ready %}
                {% for c in registered_course_dict[(year_and_semester[0],year_and_semester[1])] %}
                    {% set sum_of_grade = sum_of_grade + c.grade %}
                    {% set course_count = course_count + 1 %}
                {% endfor %}
                {%set GPA = sum_of_grade/course_count %}
              {% endif %} #}
              <tfoot>
                <tr>
                  <td class="col-md-1"></td>
                  <td class="col-md-1"></td>
                  <td class="col-md-1"></td>
                  <td class="col-md-1"></td>
                  <td class="col-md-1"></td>
                  <td class="col-md-1">GPA: <span id="gpa{{year_and_semester[0]}}-{{year_and_semester[1]}}"></span></td>
                  <td class="col-md-1">GPAX: <span id="gpax{{year_and_semester[0]}}-{{year_and_semester[1]}}"></span></td>
                </tr>
              </tfoot>
          </table>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="row" style="text-align: end;">
    <a href="/transcript"><button class="btn btn-success btn-xs">Transcript</button></a>
  </div>


  <hr>
  <small>
      GPA = GRADE POINT AVERAGE<br>

      GPAX = CUMULATIVE GPA<br>
      </small>
  </div>
</section>
<script>
var gpax = [[0,0],[0,0]];

{% for year_and_semester in year_semester %}
  var gpa{{year_and_semester[0]}}_{{year_and_semester[1]}} = 0;
  var gradeReady{{year_and_semester[0]}}_{{year_and_semester[1]}} = true;
    {% for course in registered_course_dict[(year_and_semester[0],year_and_semester[1])] %}
    {% if course.grade is not none %}
    gpa{{year_and_semester[0]}}_{{year_and_semester[1]}} += 
    {{registered_course_name_dict[course.course_id][1] 
      *course.grade/all_credit_semester[(year_and_semester[1],year_and_semester[0])]}};
    {% else %}
    gradeReady{{year_and_semester[0]}}_{{year_and_semester[1]}} = false;
    {% endif %}
    {% endfor %}

  var c = {{all_credit_semester[(year_and_semester[1],year_and_semester[0])]}};
  var credit_stack = gpax[gpax.length-1][0]+c;
  var raw = {{all_credit_semester[(year_and_semester[1],year_and_semester[0])]}}*gpa{{year_and_semester[0]}}_{{year_and_semester[1]}};

  gpax.push([credit_stack,raw]);

  if(gradeReady{{year_and_semester[0]}}_{{year_and_semester[1]}}){
    <!-- console.log($("#gpa{{year_and_semester[0]}}-{{year_and_semester[1]}}").text()); -->
    $("#gpa{{year_and_semester[0]}}-{{year_and_semester[1]}}").text(parseFloat(gpa{{year_and_semester[0]}}_{{year_and_semester[1]}}).toFixed(2).toString());
    $("#gpax{{year_and_semester[0]}}-{{year_and_semester[1]}}").text(parseFloat(gpax[gpax.length-1][1]/gpax[gpax.length-1][0]).toFixed(2).toString());
  }
  else{
    <!-- console.log($("#gpa{{year_and_semester[0]}}-{{year_and_semester[1]}}").text()); -->
    $("#gpa{{year_and_semester[0]}}-{{year_and_semester[1]}}").text("Not ready");
    $("#gpax{{year_and_semester[0]}}-{{year_and_semester[1]}}").text("Not ready");
  }
  if({{year_and_semester}} == {{year_semester}}[{{year_semester|length}}-1]){
    console.log(gradeReady{{year_and_semester[0]}}_{{year_and_semester[1]}})
    if(gradeReady{{year_and_semester[0]}}_{{year_and_semester[1]}}){
      $("#semester-gpa").text(gpa{{year_and_semester[0]}}_{{year_and_semester[1]}}.toFixed(2).toString());
      $("#semester-gpax").text(parseFloat((gpax[gpax.length-1][1]/gpax[gpax.length-1][0])).toFixed(2).toString());
    }
    else{
      $("#semester-gpa").text("Not ready");
      if (gpax[gpax.length - 2][1] == 0) {
        $("#semester-gpax").text("Not ready");
      }
      else {
        $("#semester-gpax").text(parseFloat((gpax[gpax.length - 2][1] / gpax[gpax.length - 2][0])).toFixed(2).toString());
      }
    }
    $("#weight").text(gpax[gpax.length-1][0])
  }
{% endfor %}
</script>


{% endblock %}
