{% extends "main.html" %}
{% block content1 %}

<style>
  .profile {
    border-radius: 50%;
    background: white;
  }
</style>

<section class="content">
  <h3>Profile</h3>
  <small>Look how cooool you are.</small>
  <hr>
  <div class="container-fluid">
    <div style="text-align:center">
      <img src="{{ url_for ('static', filename='img/girl.png')}}" class="profile" alt="Avatar">
    </div>
    <div class="row">
      <h4>Information</h4>
      <pre>
        Name: {{user["name"]}}
        Student ID: {{user["sid"]}}
        Enroll Year: {{user["enroll_year"]}}
        Degree: {{user["degree"]}}
        Dorm Score: {{user["dorm_score"]}}
        Faculty: {{user["faculty_name"]}}
      </pre>
    </div>
    <!-- <div class="row">
      <button class="btn btn-w-md btn-accent">Edit</button>
    </div> -->
  </div>
</section>


{% endblock %}
