{% extends "main.html" %}
{% block content1 %}

<style>
  .profile {
    border-radius: 50%;
    background: white;
  }
</style>

<section class="content">
  <h3>Profile</h3>
  <small>Look how cooool you are.</small>
  <hr>
  <div class="container-fluid">
    <div style="text-align:center">
      <img src="{{ url_for ('static', filename='img/girl.png')}}" class="profile" alt="Avatar">
    </div>
    <div class="row">
      <h4>Information</h4>
      <pre>
        Firstname: Wannta
        Lastname: BlaBla
        Address: Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Provident blanditiis nemo distinctio expedita aliquam enim suscipit
        porro et nesciunt iste? Est aperiam omnis aliquid eius repudiandae
        sit quos sunt voluptatibus.
      </pre>
    </div>
    <div class="row">
      <button class="btn btn-w-md btn-accent">Edit</button>
    </div>
  </div>
</section>


{% endblock %}
