{% extends "main.html" %}

{% block content1 %}
<!-- Unfinished schedule table,Still don't know what it should look like -->
<section class="content">
<h3>Schedule</h3>
<small>Lots of works, little time</small>
<hr>
<div class="container-fluid">
    <h4>Study Schedule</h4>
    <table class="table table-striped table-bordered width:100px;">
      <thead>
        <tr>
          <th></th>
          {% for t in range(8,18) %}
            {% set time = "{:02}".format(t)+":00" %}
            <th style ="font-size:0.9vw;">{{time}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="color:azure; height:60px;"> Monday </td>
          {% for i in range(0,course_by_day['Monday']|length) %}
            {% if i+1 < course_by_day['Monday']|length %}
              {% if course_by_day['Monday'][i].course_end_time != course_by_day['Monday'][i+1].course_start_time and i+1 < course_by_day['Monday']|length %}
                {% set classroom = "\n"+"("+course_by_day['Monday'][i].building_name+" "+course_by_day['Monday'][i].room_no|string+")" %}
                {% if course_by_day['Monday'][i].course_name|length > 10 %}
                  <td class= "classroom-long">{{course_by_day['Monday'][i].course_name}}{{classroom}}</td>
                {% elif 0 < course_by_day['Monday'][i].course_name|length < 10  %}
                  <td class= "classroom-short"> {{course_by_day['Monday'][i].course_name}}{{classroom}}</td>
                {%endif%}
                {% for j in range(0,(course_by_day['Monday'][i].course_end_time.strftime("%H")|int - 
                course_by_day['Monday'][i+1].course_start_time.strftime("%H")|int))%}
                  <td></td>
                {%endfor%}
              {%else%}
                {% set classroom = "\n"+"("+course_by_day['Monday'][i].building_name+" "+course_by_day['Monday'][i].room_no|string+")" %}
                {% if course_by_day['Monday'][i].course_name|length > 10 %}
                  <td class= "classroom-long">{{course_by_day['Monday'][i].course_name}}{{classroom}}</td>
                {% elif 0 < course_by_day['Monday'][i].course_name|length < 10  %}
                  <td class= "classroom-short"> {{course_by_day['Monday'][i].course_name}}{{classroom}}</td>
                {% endif %}
              {% endif %}
            {% else %}
              {% set classroom = "\n"+"("+course_by_day['Monday'][i].building_name+" "+course_by_day['Monday'][i].room_no|string+")" %}
              {% if course_by_day['Monday'][i].course_name|length > 10 %}
                <td class= "classroom-long">{{course_by_day['Monday'][i].course_name}}{{classroom}}</td>
              {% elif 0 < course_by_day['Monday'][i].course_name|length < 10  %}
                <td class= "classroom-short"> {{course_by_day['Monday'][i].course_name}}{{classroom}}</td>
              {% endif %}
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <td style="color:azure;"> Tuesday </td>
          {% for i in range(0,course_by_day['Tuesday']|length) %}
            {% if i+1 < course_by_day['Tuesday']|length%}
              {% if course_by_day['Tuesday'][i].course_end_time != course_by_day['Tuesday'][i+1].course_start_time %}
                {% set classroom = "\n"+"("+course_by_day['Tuesday'][i].building_name+" "+course_by_day['Tuesday'][i].room_no|string+")" %}
                {% if course_by_day['Tuesday'][i].course_name|length > 10 %}
                  <td class= "classroom-long">{{course_by_day['Tuesday'][i].course_name}}{{classroom}}</td>
                {% elif 0 < course_by_day['Tuesday'][i].course_name|length < 10  %}
                  <td class= "classroom-short"> {{course_by_day['Tuesday'][i].course_name}}{{classroom}}</td>
                {%endif%}
                {% for j in range(0,course_by_day['Tuesday'][i].course_end_time.strftime("%H")|int-course_by_day['Tuesday'][i+1].course_start_time.strftime("%H")|int)%}
                  <td></td>
                {%endfor%}
              {%else%}
                {% set classroom = "\n"+"("+course_by_day['Tuesday'][i].building_name+" "+course_by_day['Tuesday'][i].room_no|string+")" %}
                {% if course_by_day['Tuesday'][i].course_name|length > 10 %}
                  <td class= "classroom-long">{{course_by_day['Tuesday'][i].course_name}}{{classroom}}</td>
                {% elif 0 < course_by_day['Tuesday'][i].course_name|length < 10  %}
                  <td class= "classroom-short"> {{course_by_day['Tuesday'][i].course_name}}{{classroom}}</td>
                {% endif %}
              {% endif %}
            {% else %}
              {% set classroom = "\n"+"("+course_by_day['Tuesday'][i].building_name+" "+course_by_day['Tuesday'][i].room_no|string+")" %}
              {% if course_by_day['Tuesday'][i].course_name|length > 10 %}
                <td class= "classroom-long">{{course_by_day['Tuesday'][i].course_name}}{{classroom}}</td>
              {% elif 0 < course_by_day['Tuesday'][i].course_name|length < 10  %}
                <td class= "classroom-short"> {{course_by_day['Tuesday'][i].course_name}}{{classroom}}</td>
              {% endif %}
            {%endif%}  
          {% endfor %}
        </tr>
        <tr>
          <td style="color:azure; height:60px"> Wednesday </td>
          {% for i in range(0,course_by_day['Wednesday']|length) %}
            {% if i+1 < course_by_day['Wednesday']|length%}
              {% if course_by_day['Wednesday'][i].course_end_time != course_by_day['Wednesday'][i+1].course_start_time %}
                {% set classroom = "\n"+"("+course_by_day['Wednesday'][i].building_name+" "+course_by_day['Wednesday'][i].room_no|string+")" %}
                {% if course_by_day['Wednesday'][i].course_name|length > 10 %}
                  <td class= "classroom-long">{{course_by_day['Wednesday'][i].course_name}}{{classroom}}</td>
                {% elif 0 < course_by_day['Wednesday'][i].course_name|length < 10  %}
                  <td class= "classroom-short"> {{course_by_day['Wednesday'][i].course_name}}{{classroom}}</td>
                {%endif%}
                {% for j in range(0,course_by_day['Wednesday'][i].course_end_time-course_by_day['Wednesday'][i+1].course_start_time)%}
                  <td></td>
                {%endfor%}
              {%else%}
                {% set classroom = "\n"+"("+course_by_day['Wednesday'][i].building_name+" "+course_by_day['Wednesday'][i].room_no|string+")" %}
                {% if course_by_day['Wednesday'][i].course_name|length > 10 %}
                  <td class= "classroom-long">{{course_by_day['Wednesday'][i].course_name}}{{classroom}}</td>
                {% elif 0 < course_by_day['Wednesday'][i].course_name|length < 10  %}
                  <td class= "classroom-short"> {{course_by_day['Wednesday'][i].course_name}}{{classroom}}</td>
                {% endif %}
              {% endif %}
            {%else%}
              {% set classroom = "\n"+"("+course_by_day['Wednesday'][i].building_name+" "+course_by_day['Wednesday'][i].room_no|string+")" %}
              {% if course_by_day['Wednesday'][i].course_name|length > 10 %}
                <td class= "classroom-long">{{course_by_day['Wednesday'][i].course_name}}{{classroom}}</td>
              {% elif 0 < course_by_day['Wednesday'][i].course_name|length < 10  %}
                <td class= "classroom-short"> {{course_by_day['Wednesday'][i].course_name}}{{classroom}}</td>
              {% endif %}
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <td style="color:azure;"> Thursday </td>
          {% for i in range(0,course_by_day['Thursday']|length) %}
            {% if i+1 < course_by_day['Thursday']|length%}
              {% if course_by_day['Thursday'][i].course_end_time != course_by_day['Thursday'][i+1].course_start_time %}
                {% set classroom = "\n"+"("+course_by_day['Thursday'][i].building_name+" "+course_by_day['Thursday'][i].room_no|string+")" %}
                {% if course_by_day['Thursday'][i].course_name|length > 10 %}
                  <td class= "classroom-long">{{course_by_day['Thursday'][i].course_name}}{{classroom}}</td>
                {% elif 0 < course_by_day['Thursday'][i].course_name|length < 10  %}
                  <td class= "classroom-short"> {{course_by_day['Thursday'][i].course_name}}{{classroom}}</td>
                {%endif%}
                {% for j in range(0,course_by_day['Thursday'][i].course_end_time-course_by_day['Thursday'][i+1].course_start_time)%}
                  <td></td>
                {%endfor%}
              {%else%}
                {% set classroom = "\n"+"("+course_by_day['Thursday'][i].building_name+" "+course_by_day['Thursday'][i].room_no|string+")" %}
                {% if course_by_day['Thursday'][i].course_name|length > 10 %}
                  <td class= "classroom-long">{{course_by_day['Thursday'][i].course_name}}{{classroom}}</td>
                {% elif 0 < course_by_day['Thursday'][i].course_name|length < 10  %}
                  <td class= "classroom-short"> {{course_by_day['Thursday'][i].course_name}}{{classroom}}</td>
                {% endif %}
              {% endif %}
            {%else%}
              {%set classroom = "\n"+"("+course_by_day['Thursday'][i].building_name+" "+course_by_day['Thursday'][i].room_no|string+")" %}
              {% if course_by_day['Thursday'][i].course_name|length > 10 %}
                <td class= "classroom-long">{{course_by_day['Thursday'][i].course_name}}{{classroom}}</td>
              {% elif 0 < course_by_day['Thursday'][i].course_name|length < 10  %}
                <td class= "classroom-short"> {{course_by_day['Thursday'][i].course_name}}{{classroom}}</td>
              {% endif %}
            {% endif %}
          {% endfor %}
        </tr>
        <tr>
          <td style="color:azure;"> Friday </td>
          {% for i in range(0,course_by_day['Friday']|length) %}
            {% if i+1 < course_by_day['Friday']|length %}
              {% if course_by_day['Friday'][i].course_end_time != course_by_day['Friday'][i+1].course_start_time %}
                {% set classroom = "\n"+"("+course_by_day['Friday'][i].building_name+" "+course_by_day['Friday'][i].room_no|string+")" %}
                {% if course_by_day['Friday'][i].course_name|length > 10 %}
                  <td class= "classroom-long">{{course_by_day['Friday'][i].course_name}}{{classroom}}</td>
                {% elif 0 < course_by_day['Friday'][i].course_name|length < 10  %}
                  <td class= "classroom-short"> {{course_by_day['Friday'][i].course_name}}{{classroom}}</td>
                {%endif%}
                {% for j in range(0,course_by_day['Friday'][i].course_end_time-course_by_day['Friday'][i+1].course_start_time)%}
                  <td></td>
                {%endfor%}
              {%else%}
                {% set classroom = "\n"+"("+course_by_day['Friday'][i].building_name+" "+course_by_day['Friday'][i].room_no|string+")" %}
                {% if course_by_day['Friday'][i].course_name|length > 10 %}
                  <td class= "classroom-long">{{course_by_day['Friday'][i].course_name}}{{classroom}}</td>
                {% elif 0 < course_by_day['Friday'][i].course_name|length < 10  %}
                  <td class= "classroom-short"> {{course_by_day['Friday'][i].course_name}}{{classroom}}</td>
                {% endif %}
              {% endif %}
            {%else%}
              {% set classroom = "\n"+"("+course_by_day['Friday'][i].building_name+" "+course_by_day['Friday'][i].room_no|string+")" %}
              {% if course_by_day['Friday'][i].course_name|length > 10 %}
                <td class= "classroom-long">{{course_by_day['Friday'][i].course_name}}{{classroom}}</td>
              {% elif 0 < course_by_day['Friday'][i].course_name|length < 10  %}
                <td class= "classroom-short"> {{course_by_day['Friday'][i].course_name}}{{classroom}}</td>
              {% endif %}
            {% endif %}
          {% endfor %}
        </tr>
      </tbody>
    </table>
    <br>
  <!-- <div style="display:table; margin:auto; vertical-align:middle; text-align:center; padding-top: 5%;"> -->
    <h4> Registered Course </h4>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <td style="text-align:center;">Course ID</td>
          <td style="text-align:center;">Name</td>
          <td style="text-align:center;">Section</td>
          <td style="text-align:center;">Credit</td>
          <td style="text-align:center;">Midterm Exam Date</td>
          <td style="text-align:center;">Final Exam Date</td>
        </tr>
      </thead>
      <tbody>
        {% for course in last_semester_course%}
          <tr>
            <td style="text-align:center;">{{course.course_id}}</td>
            <td style="text-align:center;">{{course.course_name}}</td>
            <td style="text-align:center;">{{course.section}}</td>
            <td style="text-align:center;">{{course.credit}}</td>
            <td style="text-align:center;">{{course.midterm_exam_date}}</td>
            <td style="text-align:center;">{{course.final_exam_date}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  <!-- </div> -->
</div>


</section>

{% endblock %}
