{% extends "main.html" %}
{% block content1 %}

<section class="content">
  <h3>Tuition fee</h3>
  <small>Just don't forget to pay.</small>
  <hr>
  <div style="position:relative; left:10%">
    <div style="display:inline-block;">
      <h3>Phootip Tulayavorases</h3>
      <div style="position:relative;left:3%;">
        <h4>Degree: <span style="color:#a3a3a3">Bachelor</span></h4>
        <h4>Faculty: <span style="color:#a3a3a3">Engineering</span></h4>
        <h4>Major: <span style="color:#a3a3a3">Computer</span></h4>
      </div>
    </div>
    <div style="display:inline-block; margin-left:11%;">
      <h4>Tuition: 2017/2</h4>
      <h4>Amount: 10,000 Baht</h4>
      <h4>Status: Unpaid</h4>
      <h4>End Date: 30/4/2018</h4>
    </div>
  </div>
  <hr>
  <br>
  <div style="justify-content:center; text-align:center;">
    <h4>Tuition payment list</h4>
    <br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td class="col-md-4 center-text" style="color:wheat">Academic Year/Semester</td>
          <td class="col-md-2 center-text" style="color:wheat">Amount</td>
          <td class="col-md-2 center-text" style="color:wheat">Status</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="center-text">2017/1</td>
          <td class="center-text">10,000</td>
          <td class="center-text" style="color:#f05555">Unpaid</td>
        </tr>
        <tr>
          <td class="center-text">2016/2</td>
          <td class="center-text">10,000</td>
          <td class="center-text" style="color:sandybrown">Late paid</td>
        </tr>
        <tr>
          <td class="center-text">2016/1</td>
          <td class="center-text">10,000</td>
          <td class="center-text" style="color:rgb(147, 248, 214)">Paid</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>


{% endblock %}
