{% extends "main.html" %}
{% block content1 %}

<section class="content">
  <h3>Tuition fee</h3>
  <small>Just don't forget to pay.</small>
  <hr>
  <div style="position:relative; left:10%; width:650px">
    <div style="display:inline-block;">
      <h2>{{user.name}}</h2>
      <div style="position:relative;left:3%;">
        <h4>Degree: <span style="color:#a3a3a3">{{user.degree}}</span></h4>
        <h4>Faculty: <span style="color:#a3a3a3">{{user.faculty_name}}</span></h4>
        <!-- <h4>Major: <span style="color:#a3a3a3">Computer</span></h4>  -->
      </div>
    </div>
    {% set tui = pay_tuition[-1].tuition_year|string+"/"+pay_tuition[-1].tuition_semester|string%}
    <div style="display:inline-block; margin-left:10%;">
      <h4>Tuition: <span>{{tui}}</span></h4>
      <h4>Amount: <span>{{tuition[0].tuition_amount|string}}</span> Baht</h4>
      {% if pay_tuition[-1].tuition_late%}
        <h4>Status: <span>Late</span></h4>
      {% else %}
        {% if pay_tuition[-1].tuition_paid %}
          <h4>Status: <span>Paid</span></h4>
        {% else %}
          <h4>Status: <span>Unpaid</span></h4>
        {% endif %}
      {% endif %}
      {% set end_date_list = tuition[0].tuition_end_date|string%}
      {% set end_date_list = end_date_list.split('-')%}
      {% set end_date = end_date_list[2]+'/'+end_date_list[1]+'/'+end_date_list[0]%}
      <h4>End Date: {{end_date}}</h4>
    </div>
  </div>
  <hr>
  <br>
  <div style="justify-content:center; text-align:center;">
    <h4>Tuition payment list</h4>
    <br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td class="col-md-3 center-text" style="color:wheat">Academic Year/Semester</td>
          <td class="col-md-2 center-text" style="color:wheat">Amount</td>
          <td class="col-md-2 center-text" style="color:wheat">Status</td>
        </tr>
      </thead>
      <tbody>
        {% for pay in pay_tuition %}
          <tr>
            <td class="center-text">{{pay.tuition_year|string+"/"+pay.tuition_semester|string}}</td>
            <td class="center-text">{{tuition_amount_dict[(pay.tuition_year,pay.tuition_semester)]}}</td>
            {% if pay.tuition_late %}
              <td class="center-text" style="color:sandybrown">Late paid</td>  
            {% else %}
              {% if pay.tuition_paid %}
                  <td class="center-text" style="color:rgb(147, 248, 214)">Paid</td>
                {% else %}
                  <td class="center-text" style="color:#f05555">Unpaid</td>
              {% endif %}
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>


{% endblock %}
